// Internal fonts
@font-face {
  font-family: 'YuMincho';
  font-weight: normal;
  src: url('../font/A-OTF-A1MinchoStd-Bold.otf');
}

// External fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

$Roboto: 'Roboto', sans-serif;
$Arial: 'Arial', sans-serif;
$NotosansJP: 'Noto Sans JP', sans-serif;
