// color
$white: #fff;
$black: #222;
$gray: #666;
$lightGray: #efefef;
$darkGray: #212121;

$activeRed: #fb3e1d;
$blue: #171c61;
$Lblue: #34bcf8;
// breakpoints
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;

// header height
$headerHeightPC: 100px;
$headerHeightSP: 50px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
