/*====================================================================
siteFooter
====================================================================*/
.siteFooter {
  text-align: center;
  position: relative;

  &__toTop {
    position: fixed;
    right: 9.375vw;
    bottom: 10%;
    width: 5.8rem;
    z-index: 10;
    @include u-trs($duration: 0.4s);
    @include u-hoverOp;

    // SP
    @include u-mqMax($maxW: $windowSP) {
      width: 13.067vw;
      bottom: 5%;
      right: 5%;

      &.u-bottom {
        bottom: 28%;
      }
    }
  }

  &__list {
    padding: 2.4rem 0;
    margin: 0;
    list-style: none;
    background-color: $Lblue;
    @include u-flex($jc: center, $ai: center);

    // SP
    @include u-mqMax($maxW: $windowSP) {
      display: block;
      padding: 0;
    }
  }

  &__listItem {
    padding: 0 1rem;
    border-right: 1px solid $blue;

    &:last-child {
      border: none;
    }

    // SP
    @include u-mqMax($maxW: $windowSP) {
      border-right: none;
      border-bottom: 1px solid $blue;
      padding: 1.2rem 0;
    }
  }

  &__listItemLink {
    font-family: $NotosansJP;
    font-size: 1.4rem;
    font-weight: 500;
    color: $blue;
    @include u-trs($duration: 0.4s);
    @include u-hoverOp;

    &:hover {
        text-decoration: none;
        color: $white;
    }

    // SP
    @include u-mqMax($maxW: $windowSP) {
      display: block;
      margin: 0 auto;
      width: 90%;
      text-align: left;
    }
  }

  &__copyright {
    padding: 1.2rem 0;
    background-color: $blue;
    font-family: $NotosansJP;
    font-size: 1.4rem;
    font-weight: 400;
    color: $white;
    margin: 0;
  }
}
