/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
  width: 100%;
  padding: 2rem 0;

  &__innerLogoImg {
    display: block;
    margin: 0 30px 20px;
    width: 13.9rem;
    transition: all .2s linear;
    @include u-hoverOp();
    float: left;


    // SP
    @include u-mqMax($maxW: $windowSP) {
      width: 18.7rem;
      float: none;
      margin: 0 auto;
    }
  }
}
