/*====================================================================
topPageFvSec
====================================================================*/
.sec01 {

    &__kv {
        position: relative;
    }

    &__kvInner {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100% ;
        max-width: 144rem;

        @include u-mqMax($maxW: $windowSP) {
            width: 100%;
            height: 100%;
        }
    }

    &__kvTxt {
        margin-top: 4%;
        margin-left: 34%;
        width: 100%;
        max-width: 45.69%;
    }

    &__kvSubTxt {
        position: absolute;
        width: 100%;
        max-width: 25%;
        // transform: translate(59rem, 13rem);
        left: 45%;
        top: 125%;
    }

    &__kvBtn {
        position: absolute;
        top: 80%;
        left: 73.944%;
        width: 20.07%;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            top: 58%;
            left: 53%;
            width: 42%;
        }
    }

    &__kvBottle {
        position: absolute;
        top: 21%;
        left: 9%;
        width: 100%;
        max-width: 32.77%;

        @include u-mqMax($maxW: $windowSP) {
            top: 43%;
            left: 2%;
            max-width: 59.46%;
        }
    }

    &__kv02 {
        margin-top: -17%;
        position: relative;
        z-index: 2;
    }

    &__kv02Inner {
        position: absolute;
        top: 46.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 144rem;
    }

    &__kv02Txt {
        margin: 0 auto;
        width: 100%;
        max-width: 50.06%;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            max-width: 88.13%;
    }
    }

    &__kv03 {
        position: relative;
        margin-top: -19%;
        z-index: 2;

        &::before {
            content: '';
            position: absolute;
            top: -2.05%;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-image: url("../images/kv-03-bg.png");
            background-size: 100% auto;
            background-position: top center;
            background-repeat: repeat-y;

            @include u-mqMax($maxW: 1440px) {
                content: none;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -2.05%;
            left: 0;
            display: block;
            width: 100%;
            height: 50%;
            background-image: url("../images/kv-03-bg.png");
            background-size: 100% auto;
            background-position: bottom center;
            background-repeat: repeat-y;
            z-index: -1;

            @include u-mqMax($maxW: 1440px) {
                content: none;
            }
        }

        @include u-mqMax($maxW: $windowSP) {
            margin-top: -16%;
        }
    }

    &__kv03Inner {
        margin: 0 auto;
        position: relative;
        display: block;
        width: 100%;
        max-width: 144rem;
        height: 100%;
    }

    &__kv03Txt01 {
        position: absolute;
        top: 21%;
        left: 13%;
        width: 100%;
        max-width: 22.22%;

        @include u-mqMax($maxW: $windowSP) {
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            max-width: 57.73%;
        }
    }

    &__kv03Txt02 {
        position: absolute;
        top: 27%;
        left: 67%;
        width: 100%;
        max-width: 21.44%;

        @include u-mqMax($maxW: $windowSP) {
            top: 33.5%;
            left: 50%;
            transform: translateX(-50%);
            max-width: 55.65%;
        }
    }

    &__kv03Txt03 {
        position: absolute;
        top: 56%;
        left: 38%;
        width: 100%;
        max-width: 25.13%;

        @include u-mqMax($maxW: $windowSP) {
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
            max-width: 57.76%;
        }
    }
}

.sec02 {
    position: relative;
    margin: -14.3% auto 0%;
    padding: 14% 0 0;
    background-image: url("../images/sec-bg.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 2;


    @include u-mqMax($maxW: 1440px) {
        margin-top: -16.3%;
    }

	// SP
	@include u-mqMax($maxW: $windowSP) {
        margin: -18% auto 0%;
        padding: 20% 0 0;
        background-image: url("../images/sec-bg-sp.png");
	}

    &__title {
        padding: 0 0 .2rem;
        margin: 0 auto;
        font-family: $Arial;
        font-size: 4.1rem;
        font-weight: 500;
        transform: skewX(-10deg);
        color: $blue;
        text-align: center;
        border-bottom: 1px solid $blue;
        display: inline-block;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            font-size: 6.667vw;
            transform: skewX(0);
        }
    }

    &__inner {
        display: block;
        width: 70%;
        max-width: 102rem;
        margin: 0 auto;
        padding: 8% 0 0;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            padding: 16% 0 0;
            width: 80%;
        }
    }
}

.sec03 {
    padding: 14% 0 0;
    text-align: center;

	// SP
	@include u-mqMax($maxW: $windowSP) {
	}

    &__title {
        padding: 0 0 .2rem;
        margin: 0 auto 5%;
        font-family: $Arial;
        font-size: 4.1rem;
        font-weight: 500;
        transform: skewX(-10deg);
        color: $blue;
        text-align: center;
        border-bottom: 1px solid $blue;
        display: inline-block;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            font-size: 6.667vw;
            transform: skewX(0);
        }
    }

    &__inner {
        margin: 0 auto;
        @include u-flex($jc: center, $ai: center);

        // SP
        @include u-mqMax($maxW: $windowSP) {
            display: block;
            padding: 4rem 0 0 ;
        }
    }

    &__innerProduct {
        width: 15%;
        margin: 0 9.8rem 0 0;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            width: 30%;
            margin: 0 auto 8rem;
        }
    }

    &__innerProductDesc {
        text-align: center;

        // SP
        @include u-mqMax($maxW: $windowSP) {
        }
    }

    &__innerProductDescTitle {
        font-family: $NotosansJP;
        font-size: 4.3rem;
        font-weight: 500;
        color: $blue;
        margin: 0 0 7rem;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            font-size: 6.667vw;
            margin: 0 0 2rem;
        }
    }

    &__innerProductDescTitleSub {
        font-family: $NotosansJP;
        font-size: 3rem;
        font-weight: 500;
        color: $blue;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            font-size: 5.333vw;
        }
    }

    &__innerProductDescBtn {
        width: 34.4rem;
        height: 6.2rem;
        border: 1px solid $blue;
        transform: skewX(-20deg);
        @include u-flex($jc: center, $ai: center);
        margin: 0 auto;
        @include u-trs($duration: 0.4s);
        @include u-hoverOp;
        &:hover {
            text-decoration: none;
            color: $white;
        }

        &.u-mgB {
            margin: 0 auto 4rem;

            // SP
            @include u-mqMax($maxW: $windowSP) {
            }
        }

        // SP
        @include u-mqMax($maxW: $windowSP) {
            width: 66vw;

        }

    }

    &__innerProductDescBtnTxt {
        transform: skewX(20deg);
        font-family: $NotosansJP;
        font-size: 2.3rem;
        font-weight: 500;
        margin: 0;
        color: $blue;
        @include u-flex($jc: center, $ai: center);

        // SP
        @include u-mqMax($maxW: $windowSP) {
            font-size: 4vw;
        }

        &:after {
            content: "";
            width: 2rem;
            height: 2rem;
            margin: 0 0 0 1.2rem;
            background-image: url("../images/icon-link.png");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;

            // SP
            @include u-mqMax($maxW: $windowSP) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}

.sec04 {
    text-align: center;
    padding: 13rem 0 12.6rem;

	// SP
	@include u-mqMax($maxW: $windowSP) {
        padding: 8rem 0 8rem;
	}

    &__title {
        margin: 0 auto;
        font-family: $Arial;
        font-size: 4.1rem;
        font-weight: 500;
        transform: skewX(-10deg);
        color: $blue;
        text-align: center;
        display: inline-block;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            font-size: 6.667vw;
            transform: skewX(0);
        }
    }

    &__text {
        font-family: $NotosansJP;
        font-size: 2rem;
        font-weight: 500;
        color: $blue;
        margin: 0 auto 7rem;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            font-size: 3.333vw;
            margin: 0 auto 3rem;
        }
    }

    &__inner {
        margin: 0 auto;
        @include u-flex($jc: center, $ai: center);
    }

    &__innerIcon {
        display: block;
        width: 6.8rem;
        margin: 0 2.25rem;
        @include u-trs($duration: 0.4s);
        @include u-hoverOp;

        // SP
        @include u-mqMax($maxW: $windowSP) {
            width: 10.800vw;
        }
    }
}